:root{
  --primary-color: #272829;
  --second-color: #484848;
  --color-gray: #E4E4E4;
  --color-btn-icon: #FFA643;
  --color-white: #ffffff;
  --color-black: #000000;
}

.app-container {
  position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.content-container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  margin-left: 400px;
}

header, main, footer {
  /* width: 100%; */
  max-width: 900px;
  margin: 0 auto;
}

/* ########################### 
####### MEDIA QUERY  #########
##############################
*/

@media screen and (max-width: 1200px) {

  .app-container {
    display: block;
    width: 100%;
    flex-direction: column;
    margin-left: 65px;
  }

  .content-container {
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 0 !important;
  }

  .app-container .aside {
    display: none;
  }
  
  #experiencia {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .app-container {
    margin-left: 120px;
  }
}