:root{
    /* fuentes de texto */
    --font-incosolata: 'Incosolata Variable', monospace;
    --font-lilitaOne: 'Lilita One', system-ui;
    /* colores */
    --primary-color: #272829;
    --second-color: #484848;
    --color-gray: #E4E4E4;
    --color-btn-icon: #FFA643;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-medium: #B7B7B7;
}

.img_project {
    width: 50%;
}

/* ########################### 
####### MEDIA QUERY  #########
##############################
*/
@media screen and (max-width: 800px) {
    #card_container {
        flex-direction: column-reverse;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .btn_icon_project {
        justify-content: center;
    }

    .img_project {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {
    #card_container {
        max-width: 500px;
    }
}


@media screen and (max-width: 600px) {
    #container_context h2 {
        font-size: 50px !important;
    }
    
    #container_context p{
        font-size: 20px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}


@media screen and (max-width: 400px) {
    #container_context h2 {
        font-size: 40px !important;
    }
    #container_context p{
        font-size: 16px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .card_project h3 {
        font-size: 30px !important;
    }
}

#container_context > p {
    font-family: 'Incosolata Variable', monospace;
    color: var(--color-gray);
    margin: 20px 0;
    max-width: 800px;
}

#card_container p {
    font-family: 'Incosolata Variable', monospace;
    margin: 20px 20px 25px 0;
}