:root{
    /* fuentes de texto */
    --font-incosolata: 'Incosolata Variable', monospace;
    --font-lilitaOne: 'Lilita One', system-ui;
    /* colores */
    --primary-color: #272829;
    --second-color: #484848;
    --color-gray: #E4E4E4;
    --color-btn-icon: #FFA643;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-medium: #B7B7B7;
}

/* ########################### 
####### MEDIA QUERY  #########
##############################
*/
@media screen and (max-width: 800px) {
    #card_container {
        flex-direction: column-reverse;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .img_project {
        background: none !important;
        padding: 0 !important;
        border-radius: 30px 30px 0 0 !important;
    }

    .img_project > div > picture > img {
        width: 100%;
        border-radius: 0;
    }

    .btn_icon_project {
        justify-content: center;
    }

}

/* GENERAL DE PROYECTOS */
.img_project img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 
    0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 
    0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 
    0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 
    0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 
    0px -3px 5px;
}

/*
        STYLE CARD ALBUM MUSIC  
########################################*/
.card_albumMusic {
    display: flex;
    flex-direction: row-reverse;
}

.card_albumMusic .img_project {
    background: radial-gradient(#251F5C, #4E4887);
    border-radius: 30px 0 0 30px;
}

.card_albumMusic .img_project img {
    width: 900px;
    height: auto;
    transition: .2s ease-in-out;
}

.card_albumMusic .img_project:hover img {
    cursor: pointer;
    transform: scale(2.7193) translateX(53px);
}
/* ########################################## */

/*
        STYLE CARD WEATHER
########################################*/
.card_weather .img_project {
    background: linear-gradient(90deg, #B9D3F1, #95ADCA);
}
/* ########################################## */

/*
        STYLE CARD EAGLE FITNESS SAS
########################################*/
.card_eagleFitness .img_project {
    background: linear-gradient(90deg, #FFFFFF, #E4E4E4);
}

.card_eagleFitness .img_project img {
    width: 900px;
    height: auto;
    transition: .2s ease-in-out;
}

.card_eagleFitness .img_project:hover img {
    cursor: pointer;
    transform: scale(3.35) translateX(55px);
}
/* ########################################## */

/*
        STYLE CARD CARRITO DE COMPRAS
########################################*/
.card_carrito .img_project {
    background: linear-gradient(
            to top, rgb(114, 157, 3) 0%, 
            rgb(197, 255, 5) 35%, rgb(255, 255, 7) 70%, 
            rgb(255, 255, 10) 105%, 
            rgb(255, 255, 12) 140%, 
            rgb(255, 255, 14) 175%);
}

.card_carrito .img_project:hover img {
    transform: scale(3.35) translateX(60px) translateY(20px);
}
/* ########################################## */


/*
        STYLE CARD HERMANAS DOMINICANAS
########################################*/
.card_hermanas .img_project {
    background: linear-gradient(
        to top, rgb(75, 68, 64) 0%, 
        rgb(130, 118, 111) 35%, 
        rgb(185, 167, 157) 70%, 
        rgb(239, 217, 204) 105%, 
        rgb(255, 255, 251) 140%);
}

.card_hermanas .img_project:hover img {
    transform: scale(3.35) translateX(75px) translateY(15px);
}
/* ########################################## */

#card_container {
    border-radius: 30px;
}

.card_project {
    color: var(--color-white);
    padding: 17px 0 17px 17px;
}

.card_project h3 {
    font-family: 'Lilita One', monospace;
    font-size: 40px;
}

section > h2 {
    color: var(--color-btn-icon);
    font-family: 'Lilita One', monospace;
}

#container_context > p {
    font-family: 'Incosolata Variable', monospace;
    color: var(--color-gray);
    margin: 20px;
}

#card_container p {
    font-family: 'Incosolata Variable', monospace;
    font-size: 13px;
    color: var(--color-gray);
    margin: 20px 20px 25px 0;
}

.img_project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 0 30px 30px 0;
    overflow: hidden;
    position: relative;
}

.img_project img {
    width: 900px;
    height: auto;
    transition: .2s ease-in-out;
}

.img_project:hover img {
    cursor: pointer;
    transform: scale(2.7193) translateX(70px);
}

.btn_card_project {
    transition: .2s ease-in-out;
}

.btn_card_project:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}
.btn_card_project:hover:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
};