:root{
    /* fuentes de texto */
    --font-incosolata: 'Incosolata Variable', monospace;
    --font-lilitaOne: 'Lilita One', system-ui;
    /* colores */
    --primary-color: #272829;
    --second-color: #484848;
    --color-gray: #E4E4E4;
    --color-btn-icon: #FFA643;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-medium: #B7B7B7;
    width: 100%;
}

.btn-cv {
    border: var(--color-gray) 2px solid;
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--color-btn-icon);
    font-family: 'Incosolata Variable', monospace;
    font-size: small;
}

.title {
    font-size: 64px;
    color: var(--color-btn-icon);
    font-family: 'Lilita One', monospace;
}

#me > p {
    font-family: 'Inconsolata Variable', monospace;
    font-size: 20px;
    color: var(--color-gray);
    margin: 30px 0;
    width: 700px;
}

.img_profile {
    display: none;
}

.container_icon {
    display: none !important;
}

/* ########################### 
####### MEDIA QUERY  #########
##############################
*/

@media screen and (max-width: 1200px) {
    .container_me {
        width: 100% !important;
    }

    #me p {
        width: 100%;
    }

    .img_profile {
        display: block;
    }

    .container_cv_mail {
        justify-content: center;
    }

    #me {
        width: 100%;
        text-align: center;
    }

    .name_fernando_profile {
        justify-content: center;
    }

    .container_icon {
        display: flex !important;
        justify-content: flex-start !important;
        margin-left: 150px;
        margin-bottom: -20px;
    }

    .icon {
        width: 30px;
    }

    .descritpion {
        padding: 0 50px;
    }
}

@media screen and (max-width: 800px) {
    .container_me {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 50px;
    }

    .descritpion {
        padding: 0;
    }

    .container_cv_mail {
        flex-direction: column;
    }
    .container_cv_mail .btn-cv{
        width: 300px;
        margin: 0 auto !important;
    }
    .container_cv_mail button:nth-child(1){
        margin: 0;
        margin-bottom: 15px !important;
    }
}