:root{
    /* fuentes de texto */
    --font-incosolata: 'Incosolata Variable', monospace;
    --font-lilitaOne: 'Lilita One', system-ui;
    /* colores */
    --primary-color: #272829;
    --second-color: #484848;
    --color-gray: #E4E4E4;
    --color-btn-icon: #FFA643;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-medium: #B7B7B7;
}

.container_process {
    padding: 10px 70px;
    color: var(--primary-color);
    border-radius: 15px;
}

.container_process p {
    font-family: var(--font-incosolata);
}


.cards p {
    font-size: 13px;
}

.required > h4 {
    font-family: var(--font-lilitaOne);
    font-weight: 800;
    font-size: 20px;
}

.ux_container_card, .developer_container_card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 50px;
}
.ux_container_card picture > img {
    margin: 0;
}

.icon_large {
    color: var(--second-color);
}

/* ########################### 
####### MEDIA QUERY  #########
##############################
*/
@media screen and (max-width: 700px) {
    .cards {
        width: 100%;
        flex-direction: column;
    }

    .content_subtitle {
        width: 100% !important;
    }

    .content_subtitle p {
        max-width: 450px;
        margin: 0 auto;
    }

    .icon_large {
        display: none;
    }

    .required {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    #proceso h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) {
    #proceso h2 {
        font-size: 40px;
    }
}