.review_section {
    font-family: 'Inconsolata Variable', monospace;
}

.talk {
    font-family: 'Lilita One', monospace;
}

.talk button {
    background-color: var(--color-btn-icon);
    border-radius: 8em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.talk button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
};

.talk button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

/* ########################### 
####### MEDIA QUERY  #########
##############################
*/

@media screen and (max-width: 1200px) {
    .review_section {
        width: 100% !important;
    }
}

@media screen and (max-width: 600px) {
    #review h2 {
        font-size: 50px;
    }

    #review p {
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 400px) {
    #review h2 {
        font-size: 40px;
    }
}